.prev_members
	> ul {
		list-style-type: none;
		> li {
			display: inline;
	}
	-webkit-column-width: 200px; /* Chrome, Safari, Opera */
	-moz-column-width: 200px; /* Firefox */
	column-width: 200px;
}
