---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Default.astro';
import BlogList from '@components/blog/BlogList.astro';
import LocalizedDate from '@components/generic/LocalizedDate.astro';
import { Button, Card } from '@eliancodes/brutal-ui';
import { getEvents} from "src/scripts/notion";
const events = await getEvents(false);
const posts = await getCollection('blog').then((collection) =>
  collection.reverse()
);
---

<Layout
  title='Blog'
  description='Brutal Blog | On this page you can find a collection of blogposts'
  pageTitle='Brutal Blog'
>
  <main style="background-color: #6A9DC0; padding: 1.5rem;">
    <div class="flex flex-row justify-center items-center content-center mb-6">
      <Button target={'_blank'} href="https://groupme.com/join_group/103293306/psGCCdFG"><p class="text-2xl">Join our GroupMe for updates from W&M ACM!</p></Button>
    </div>
    {
      events.map((e) => 
      (
        <Card color="#773333">
          <div class="flex flex-row justify-self-center items-center">
            <div class="flex bg-blue-300 border-2 border-black rounded-md p-2 m-2">
              <p class="text-xl dm-serif">{e.name}</p>
            </div>
          <div class="flex bg-blue-300 border-2 border-black rounded-md p-2 m-2">
              <p class="text-xl dm-serif"><LocalizedDate date={e.date} /></p>
          </div>
          <div class="flex bg-blue-300 border-2 border-black rounded-md p-2 m-2">
            <p class="text-xl dm-serif">{e.location}</p>
          </div>
          </div>
        </Card>
      )
    )
    }
  </main>
</Layout>
