<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-contact">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-desc">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-icons">
          {% if site.discord_join_link %}
			  {% include icon-discord.html %}
          {% endif %}
          {% if site.facebook %}
			  {% include icon-facebook.html %}
          {% endif %}
          {% if site.instagram %}
			  {% include icon-instagram.html %}
          {% endif %}
          {% if site.github_username %}
			  {% include icon-github.html %}
          {% endif %}
      </div>

   </div>

  </div>

</footer>
