---
import Layout from '@layouts/Default.astro';
import OfficerList from '@components/officers/OfficerList.astro';
import { getActiveOfficerProfilesFromSheets } from "../../scripts/googleSheets";
const raw = await getActiveOfficerProfilesFromSheets();

const officers = raw.map((x) => ({
  name: x.name,
  position: x.role,
  bio: x.bio,
  imgSrc: x.photoUrl || "/assets/astro.jpg",
  imgAlt: `${x.name}${x.role ? `, ${x.role}` : ""}`,
}));
---


<Layout
  title="Officers"
  description="Officer Positions and Biographies | W&M ACM"
  pageTitle="Officers of W&M ACM"
>
  <main style="background-color: #6A9DC0; padding: 1.5rem;">
    <OfficerList officers={officers} />
    <div class="flex flex-row justify-center items-center content-center mb-6">
        <p class="text-2xl">Join our GroupMe for updates from W&M ACM!</p>
    </div>
  </main>
</Layout>
