---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'Astro', url: 'https://astro.build/' },
  { name: 'UnoCSS', url: 'https://uno.antfu.me/' },
  {
    name: 'Content Collections',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'RSS', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Sitemap',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Vercel', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Home'
  pageTitle='W&M ACM Student Chapter'
  description='The W&M ACM chapter Website. We Back Baby!!!'
>
  <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
  <main style="background-color: #6A9DC0 !important; padding: 1.5rem">
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-4'>
        <Card color="#00CC77">
          <!-- update to go harder on meeting time/place -->
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class="text-xl md:text-2xl lg:text-4xl dm-serif" style="text-align: center">W&M's Student Chapter of the Association for Computing Machinery</p>
            <hr />
            <!-- I don't think this is actually centered what the fuck -->
            <p class="text-2xl md:text-4xl lg:text-6xl dm-serif" style="text-align: center; text-decoration: underline; font-style: italic">7PM Thursdays, in ISC 2280</p>
            <hr />
            <p class="mt-4 outfit text-xl dm-serif" style="text-align: center">That's when and where we meet, every week. Come see us for our next exciting workshop!</p>
            <!--<p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              William & Mary <a
              class='text-white'
              target='_blank'
              href='https://astro.build/'>ACM</a  
              >
              Student Chapter
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              Welcome! We are the William & Mary Chapter of the Association for Computing Machinery.
            </p>-->
            <Button target={'_self'} href='/blog/'>
              Check out what's new with W&M ACM &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-4'>
        <div class="mb-5">
        <Card color="#ff5900ff">
          <p class="text-xl md:text-2xl lg:text-3xl dm-serif mb-5">ACM Event Spotlight:</p>
          <h2 class="text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif underline text-center">Winter Break</h2>
          <p class="text-3xl text-center dm-serif mb-4">There are no upcoming ACM events at this time. See you next semester!</em></p>
          <!--<Button target={'_blank'} href=""><p class="text-xl dm-serif p-2">Check back soon for an RSVP</p></Button>--><!--use this as a link; commented because there's nothing to do  -->
        </Card>
        </div>
        <Card color="#00CC77">
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            What is W&M ACM?
          </h2>
          <p class='poppins dm-serif'>
            We’re a community of students interested in computing and tech! 
            Join us for our weekly meetings, our yearly hackathon, &hacks, and other fun events.
          </p>
          <!-- I feel like it would be cool to have a 3D model of our logo or something. Never  quite got to it, but here's some basics with an avocado -->
          <!--<model-viewer
          // className="model-viewer"
          src="/src/assets/Avocado.glb"
          alt="A rock"
          exposure="0.5"
          camera-controls
          ar
          ar-modes="webxr"
          ref="something"
        ></model-viewer>-->
        </Card>
      </div>
      <!-- spacer -->
      <div class='col-span-1'></div>
      <div class='col-span-6'>
      </div>
    </section>
    <!-- <RecentBlogPosts />-->
  </main>
  
</Layout>
