---
import Layout from '@layouts/Default.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
---
<Layout
  title='Resources for CS at W&M'
  pageTitle='Resources for CS at W&M'
  description='The W&M ACM chapter Website. We Back Baby!!!'
></Layout>

<main style="background-color: #6A9DC0 !important; padding: 1.5rem;">
    <div id="tech-clubs-list">
        <h2>Tech-focused clubs at W&M</h2>
        
    </div>