---
import Layout from "@layouts/Default.astro";
import "../../styles/resources.css";
import PageHeader from "../../components/layout/PageHeader.astro";

import TechClubs from "../../components/resources/TechClubs.astro";
import HowTo from "../../components/resources/HowTo.astro";
import Faq from "../../components/resources/Faq.astro";
---

<Layout
  title="Resources"
  pageTitle="Resources"
  description="Tech clubs, how-to guides, and FAQs for ACM at William & Mary."
>
  <PageHeader title="Resources" subtitle="Quick links for tech clubs, setup guides, and ACM basics." />

  <main class="resources">
    <TechClubs />
    <HowTo />
    <Faq />
  </main>
</Layout>
