<section class="section" aria-labelledby="faq">

  <div class="faq">
    <div class="qa">
      <h3 class="question">Do I need to be a CS major to join?</h3>
      <div class="answer">
        <p>Nope, anyone can join! We welcome all majors and experience levels.</p>
      </div>
    </div>

    <div class="qa">
      <h3 class="question">When and where are meetings?</h3>
      <div class="answer">
        <p>We meet on Thursdays at 7 PM in <strong>ISC 2280</strong>.</p>
      </div>
    </div>

    <div class="qa">
      <h3 class="question">What about office hours?</h3>
      <div class="answer">
        <p>
          Our office hours are Mon-Fri 9-11 AM and 2-4 PM, and Mon-Thurs 6-7 PM in <strong>ISC 2394</strong> 
        </p>
      </div>
    </div>

    <div class="qa">
      <h3 class="question">How do I get updates?</h3>
      <div class="answer">
        <p>You can use the <a href="/connect">Connect</a> page to join GroupMe or follow socials.</p>
      </div>
    </div>

    <div class="qa">
      <h3 class="question">What kinds of events does ACM run?</h3>
      <div class="answer">
        <p>During our weekly meetings, we have workshops, speaker talks, collaborations, and social events. 
            <br />
            We also host special events like the CS brunch and annual CS banquet, and we provide transportation to hackathons.</p>
      </div>
    </div>

    <div class="qa">
      <h3 class="question">Can I suggest an event or give a workshop?</h3>
      <div class="answer">
        <p>Yes! You can message an officer on GroupMe or Discord, come by our office hours, or stay after our weekly meetings.</p>
      </div>
    </div>
  </div>
</section>
